*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ecf0f1;
}
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color:#b2bec3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }