body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

#inputBox {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #555;
    border: none;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #666;
}

.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #ffab40;
}
